<?xml version="1.0" encoding="utf-8"?>
<module productName="51Degrees Visitor Group Criteria">
  <assemblies>
    <add assembly="FiftyOneDegrees" />
  </assemblies>
  <clientResources>
    <add name="stringcriterion" path="ClientResources/Criteria/StringCriterion.js" resourceType="Script" />
    <add name="rangecriterion" path="ClientResources/Criteria/RangeCriterion.js" resourceType="Script" />
    <add name="numericcriterion" path="ClientResources/Criteria/NumberTextBox.js" resourceType="Script" />
    <add name="allpropertiescriterion" path="ClientResources/Criteria/AllPropertiesCriterion.js" resourceType="Script" />
  </clientResources>
</module>